[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "i3lock-solarized"]
	path = i3lock-solarized
	url = https://github.com/parsiad/i3lock-solarized.git
[submodule "ranger_devicons"]
	path = ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule "private"]
	path = private
	url = ../rc-private.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "local/share/jupyter/nbextensions/jupyter-vim-binding"]
	path = local/share/jupyter/nbextensions/jupyter-vim-binding
	url = https://github.com/lambdalisue/jupyter-vim-binding
[submodule "i3-new-split-long"]
	path = i3-new-split-long
	url = git@github.com:parsiad/i3-new-split-long.git
[submodule "typora-solarized"]
	path = typora-solarized
	url = https://github.com/belenos/typora-solarized.git
[submodule "gitalias"]
	path = gitalias
	url = https://github.com/GitAlias/gitalias.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/dracula/alacritty.git
[submodule "xresources"]
	path = xresources
	url = https://github.com/dracula/xresources.git
[submodule "rofi"]
	path = rofi
	url = https://github.com/dracula/rofi.git
