themes {
    solarized-light-alt {
        bg "#faf4ed"
        fg "#073642"
        red "#fdf6e3"  // Base 3
        green "#6c71c4"  // Violet
        blue "#268bd2"
        yellow "#b58900"
        magenta "#d33682"
        orange "#cb4b16"
        cyan "#2aa198"
        black "#fdf6e3"  // Base 3
        white "#002b36"
    }
}

theme "solarized-light-alt"
