bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86AudioPlay exec "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.Lollypop /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause"
bindsym XF86AudioStop exec "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.Lollypop /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Stop"
bindsym XF86AudioPrev exec "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.Lollypop /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous"
bindsym XF86AudioNext exec "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.Lollypop /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next"

bindsym $mod+Return exec alacritty
bindsym $mod+Shift+e exec $HOME/bin/clipboard-tts.sh
bindsym $mod+b exec rofi -show window -theme solarized_alternate
bindsym $mod+d exec rofi -show drun -theme solarized_alternate
bindsym $mod+e exec rofi -show run -theme solarized_alternate
bindsym $mod+k exec keepassxc
bindsym $mod+l exec $HOME/bin/i3lock-solarized.sh
bindsym $mod+x exec $HOME/bin/rdp-init.sh

gaps inner 5

# i3 gaps has issues playing nicely with feh.
for_window [class=".*"] border pixel 3
hide_edge_borders both

smart_gaps on

exec --no-startup-id alacritty --class task,task -e watch -n 5 task long
exec --no-startup-id alacritty --class ipython,ipython --option font.size=14 -e ipython

exec --no-startup-id $HOME/.i3_long_split.py
exec --no-startup-id blueman-applet
exec --no-startup-id nextcloud
exec --no-startup-id pasystray
exec --no-startup-id redshift-gtk
exec --no-startup-id udiskie --tray

exec_always --no-startup-id $HOME/.fehbg
exec_always --no-startup-id $HOME/.config/polybar/launch.sh

exec --no-startup-id i3-msg 'workspace 1; rename workspace to "1: web"   ; append_layout '$HOME'/.config/i3/workspace/web.json'
exec --no-startup-id i3-msg 'workspace 2; rename workspace to "2: chat"  ; append_layout '$HOME'/.config/i3/workspace/chat.json'
exec --no-startup-id i3-msg 'workspace 3; rename workspace to "3: audio"  ; append_layout '$HOME'/.config/i3/workspace/audio.json'
exec --no-startup-id i3-msg 'workspace 9; rename workspace to "9: remote"; append_layout '$HOME'/.config/i3/workspace/remote.json'
